# True for development, False for production
DEBUG=True

# Flask ENV
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=YOUR_SUPER_KEY

# If DEBUG=False (production mode)
DB_ENGINE=postgres
DB_NAME=webapp_adrian81505
DB_HOST=dpg-clobrkap0o1s73f7ol90-a.oregon-postgres.render.com
DB_PORT=3306
DB_USERNAME=webapp_adrian81505_user
DB_PASS=Vxw7ewAF9et2ls6cdudcmFS3uvaeQxtb
